@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #6c757d;
    --gray-teal: #6c757d8e;
    --gray-dark: #343a40;
    --light: #f8f9fa;
    --dark: #212529;
    --a: #5eccb8;
    --b: #00ddff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    padding: 5px 10px;
}

input, textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

.backToTop{
    position: fixed;
    right: 10px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: none;
}

.backToTopImage{
    /* filter: invert(17%) sepia(7%) saturate(939%) hue-rotate(169deg) brightness(102%) contrast(87%); */
    filter: invert(90%) sepia(97%) saturate(0%) hue-rotate(0deg) brightness(105%) contrast(103%);
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
}

header .head {
    height: 50%;
    width: 100%;
}

header .upper {
    background: linear-gradient(0deg, var(--a), var(--b));
}

header .lower {
    background: linear-gradient(0deg, var(--yellow), var(--orange));
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-dark);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.logo {
    height: 170%;
    margin-left: 1rem;
}

.burger {
    cursor: pointer;
    margin-right: 1rem;
}

.navLinks {
    display: none;
}

.bar {
    width: 20px;
    height: 5px;
    margin: 2px;
    background-color: var(--gray);
    transition: all 0.3s;
}

.toggle .bar {
    background-color: var(--red);
}

.toggle .bar1 {
    transform: translateY(7px) rotate(45deg);
}

.toggle .bar2 {
    opacity: 0;
}

.toggle .bar3 {
    transform: translateY(-7px) rotate(-45deg);
}

.sidebar {
    position: fixed;
    top: 60px;
    right: 0;
    width: 60%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 999;
    transform: translateX(100%);
    transition: all 0.3s;
}

.sideBarShow {
    transform: translateX(0);
}

.sidebar a {
    color: var(--gray-dark);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.backdropShow {
    display: block;
}

.intro {
    position: absolute;
    width: 90%;
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 15px solid;
    border-radius: 30px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.intro.upper {
    background: linear-gradient(180deg, var(--yellow), var(--orange));
    bottom: 50%;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--gray-dark);
    border-color: white;
}

.intro.lower {
    background: linear-gradient(180deg, var(--a), var(--b));
    top: 50%;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
    border-color: var(--gray-dark);
}

section {
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: white;
}

section .heading .underline {
    width: 50px;
    height: 6px;
    margin-top: 5px;
}

section .content {
    width: 100%;
    padding: 20px 0px;
}

section[data-design='1'] .heading .underline {
    background: linear-gradient(90deg, var(--a), var(--b));
}

section[data-design='2'] .heading .underline {
    background: linear-gradient(90deg, var(--yellow), var(--orange));
}

.content .projectGrid {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(275px, auto));
    gap: 10px;
    margin: auto;
}

.Projects {
    position: relative;
    background-image: url('./Assets/projectBackground.png');
}

.projectCard {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(3px);
    border: 1px solid #eee;
    border-radius: 15px;
    transition: all 0.3s;
}

.projectCard:hover {
    transform: translateY(-5px);
    background-color: white;
}

.notesProject:hover .projectImage {
    filter: invert(38%) sepia(84%) saturate(4609%) hue-rotate(311deg) brightness(89%) contrast(87%);
}

.ticTacToe:hover .projectImage {
    filter: invert(12%) sepia(93%) saturate(7467%) hue-rotate(267deg) brightness(92%) contrast(107%);
}

.projectCard .title {
    font-size: 1rem;
    width: 100%;
    height: 2rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCard .projectImage {
    width: 20%;
    transition: all 0.3s;
}

.projectCard .text {
    padding: 10px;
    flex-grow: 1;
    align-self: flex-start;
}

.projectCard .showButton {
    background-color: #e1f1ff;
    color: black;
    font-size: 1rem;
    padding: 10px 25px;
    margin: 5px;
    border: 2px solid var(--blue);
    border-radius: 50px;
    transition: all 0.3s;
}

.projectCard .showButton:hover {
    background-color: var(--blue);
    color: white;
}

.Skills {
    background-image: url('./Assets/skillsBackground.png');
}

.skillsGrid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    margin: auto;
    gap: 10px;
}

.skillCard {
    height: 225px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s;
}

.skillCard:hover {
    transform: translateY(-5px);
}

.skillCard .icon {
    width: 40%;
    max-width: 100px;
}

.skillCard .ratings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skillCard .ratings .star {
    width: 15%;
    max-height: 30px;
    filter: invert(98%) sepia(8%) saturate(58%) hue-rotate(136deg) brightness(97%) contrast(88%);
}

.skillCard .ratings .star.active {
    filter: invert(29%) sepia(66%) saturate(4200%) hue-rotate(211deg) brightness(103%) contrast(98%);
}

.Contact {
    background-image: url('./Assets/contBackground.png');
}

.contactLinks {
    height: auto;
    max-width: 400px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.contactLink .icon {
    cursor: pointer;
    width: 40px;
    margin-right: 10px;
    user-select: none;
    filter: invert(100%) sepia(10%) saturate(7459%) hue-rotate(188deg) brightness(117%) contrast(108%);
}

.contactLink:hover .fb-logo {
    filter: invert(31%) sepia(41%) saturate(4612%) hue-rotate(207deg) brightness(104%) contrast(90%);
}

.contactLink:hover .lknd-logo {
    filter: invert(31%) sepia(56%) saturate(5727%) hue-rotate(183deg) brightness(92%) contrast(101%);
}

.contactLink:hover .gitHub-logo {
    filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
}

@media (min-width:750px) {
    html {
        font-size: 25px;
    }
    nav {
        height: 80px;
    }
    .navLinks {
        display: flex;
        width: 65%;
        justify-content: space-between;
        margin-right: 1rem;
        max-width: 800px;
    }
    .navLinks a {
        color: var(--gray-dark);
    }
    .burger {
        display: none;
    }
    section {
        padding-top: 80px;
    }
    .projectCard {
        max-width: 500px;
    }
}

@media (min-width:1100px) {
    .skillsGrid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    }
}

@media (min-width:1700px) {
    .content .projectGrid {
        grid-template-columns: repeat(auto-fit, minmax(275px, 500px));
    }
}